Repository MLH-Fellowship/Best-Geese, pull requests merged in 2020-10, with the labels that each got.

#1 Front end skeleton
  frontend/.browserslistrc
  frontend/.editorconfig
  frontend/.gitignore
  frontend/README.md
  frontend/angular.json
  frontend/e2e/protractor.conf.js
  frontend/e2e/src/app.e2e-spec.ts
  frontend/e2e/src/app.po.ts
  frontend/e2e/tsconfig.json
  frontend/karma.conf.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/app-routing.module.ts
  frontend/src/app/app.component.css
  frontend/src/app/app.component.html
  frontend/src/app/app.component.spec.ts
  frontend/src/app/app.component.ts
  frontend/src/app/app.module.ts
  frontend/src/app/shared/navbar/navbar.component.css
  frontend/src/app/shared/navbar/navbar.component.html
  frontend/src/app/shared/navbar/navbar.component.spec.ts
  frontend/src/app/shared/navbar/navbar.component.ts
  frontend/src/app/subjects.ts
  frontend/src/app/views/homepage/homepage.component.css
  frontend/src/app/views/homepage/homepage.component.html
  frontend/src/app/views/homepage/homepage.component.spec.ts
  frontend/src/app/views/homepage/homepage.component.ts
  frontend/src/app/views/progress/progress.component.css
  frontend/src/app/views/progress/progress.component.html
  frontend/src/app/views/progress/progress.component.spec.ts
  frontend/src/app/views/progress/progress.component.ts
  frontend/src/app/views/subject/subject.component.css
  frontend/src/app/views/subject/subject.component.html
  frontend/src/app/views/subject/subject.component.spec.ts
  frontend/src/app/views/subject/subject.component.ts
  frontend/src/assets/.gitkeep
  frontend/src/environments/environment.prod.ts
  frontend/src/environments/environment.ts
  frontend/src/favicon.ico
  frontend/src/index.html
  frontend/src/main.ts
  frontend/src/polyfills.ts
  frontend/src/styles.css
  frontend/src/test.ts
  frontend/tsconfig.app.json
  frontend/tsconfig.json
  frontend/tsconfig.spec.json
  frontend/tslint.json
Labels: frontend

#2 Added Flask Backend
  .env
  .gitignore
  .vscode/launch.json
  .vscode/settings.json
  README.md
  assets/Dr-Goose.png
  backend/Pipfile
  backend/Pipfile.lock
  backend/app.py
  backend/database/db.py
  backend/database/models.py
  backend/doc.md
  backend/requirements.txt
  backend/resources/auth.py
  backend/resources/question.py
  backend/resources/routes.py
Labels: backend, documentation

#6 Front end services
  .gitignore
  backend/app.py
  frontend/src/app/app.module.ts
  frontend/src/app/core/auth.guard.spec.ts
  frontend/src/app/core/auth.guard.ts
  frontend/src/app/core/auth.service.spec.ts
  frontend/src/app/core/auth.service.ts
  frontend/src/app/core/question-provider.service.spec.ts
  frontend/src/app/core/question-provider.service.ts
  frontend/src/app/interfaces/iquestion.ts
  frontend/src/app/shared/question-list/question-list.component.css
  frontend/src/app/shared/question-list/question-list.component.html
  frontend/src/app/shared/question-list/question-list.component.spec.ts
  frontend/src/app/shared/question-list/question-list.component.ts
  frontend/src/app/views/homepage/homepage.component.html
Labels: frontend

#3 Update README.md
  README.md
Labels: documentation

#7 Front end components
  frontend/angular.json
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/app-routing.module.ts
  frontend/src/app/app.component.html
  frontend/src/app/app.module.ts
  frontend/src/app/material.module.ts
  frontend/src/app/shared/main-nav/main-nav.component.css
  frontend/src/app/shared/main-nav/main-nav.component.html
  frontend/src/app/shared/main-nav/main-nav.component.spec.ts
  frontend/src/app/shared/main-nav/main-nav.component.ts
  frontend/src/app/shared/navbar/navbar.component.html
  frontend/src/app/shared/navbar/navbar.component.ts
  frontend/src/app/views/homepage/homepage.component.html
  frontend/src/app/views/login/login.component.css
  frontend/src/app/views/login/login.component.html
  frontend/src/app/views/login/login.component.spec.ts
  frontend/src/app/views/login/login.component.ts
  frontend/src/app/views/signup/signup.component.css
  frontend/src/app/views/signup/signup.component.html
  frontend/src/app/views/signup/signup.component.spec.ts
  frontend/src/app/views/signup/signup.component.ts
  frontend/src/index.html
  frontend/src/styles.css
Labels: frontend

#8 Extra endpoints
  frontend/src/app/core/auth.service.ts
  frontend/src/app/core/question-provider.service.ts
Labels: enhancement, frontend

#9 AI Component Added
  .gitignore
  .vscode/settings.json
  backend/.env
  backend/.env.test
  backend/Pipfile
  backend/Pipfile.lock
  backend/app.py
  backend/database/models.py
  backend/ml/data/README.md
  backend/ml/data/pickles/nb-predictor.pkl
  backend/ml/data/pickles/wordsDf.pkl
  backend/ml/run.py
  backend/ml/texttoquestion.py
  backend/requirements.txt
  backend/resources/ai_generate.py
  backend/resources/errors.py
  backend/resources/question.py
  backend/resources/quiz.py
  backend/resources/reset_password.py
  backend/resources/routes.py
  backend/run.py
  backend/services/README.md
  backend/services/mail_service.py
  backend/templates/email/reset_password.html
  backend/templates/email/reset_password.txt
  backend/tests/BaseCase.py
  backend/tests/__init__.py
  backend/tests/test_ai_algorithm.py
  backend/tests/test_create_question.py
  backend/tests/test_login.py
  backend/tests/test_mix_difficulty.py
  backend/tests/test_signup.py
Labels: backend

#10 Front end modification
  backend/app.py
  frontend/src/app/app-routing.module.ts
  frontend/src/app/app.module.ts
  frontend/src/app/core/auth.guard.ts
  frontend/src/app/core/question-provider.service.ts
  frontend/src/app/material.module.ts
  frontend/src/app/shared/main-nav/main-nav.component.css
  frontend/src/app/shared/main-nav/main-nav.component.html
  frontend/src/app/shared/main-nav/main-nav.component.ts
  frontend/src/app/shared/question/question.component.css
  frontend/src/app/shared/question/question.component.html
  frontend/src/app/shared/question/question.component.spec.ts
  frontend/src/app/shared/question/question.component.ts
  frontend/src/app/subjects.ts
  frontend/src/app/views/homepage/homepage.component.css
  frontend/src/app/views/homepage/homepage.component.html
  frontend/src/app/views/login/login.component.html
  frontend/src/app/views/login/login.component.ts
  frontend/src/app/views/quiz-creator/quiz-creator.component.css
  frontend/src/app/views/quiz-creator/quiz-creator.component.html
  frontend/src/app/views/quiz-creator/quiz-creator.component.spec.ts
  frontend/src/app/views/quiz-creator/quiz-creator.component.ts
  frontend/src/app/views/quiz/quiz.component.css
  frontend/src/app/views/quiz/quiz.component.html
  frontend/src/app/views/quiz/quiz.component.spec.ts
  frontend/src/app/views/quiz/quiz.component.ts
  frontend/src/app/views/signup/signup.component.css
  frontend/src/app/views/signup/signup.component.html
  frontend/src/app/views/signup/signup.component.ts
  frontend/src/app/views/subject/subject.component.css
  frontend/src/app/views/subject/subject.component.html
  frontend/src/app/views/subject/subject.component.ts
Labels: frontend
